.generic-content-container {

    p a {
        font-weight: 700;
    }

    p {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.65;
        margin: 0 0 1.8rem 0;

        /* atSmall screens */
        @media (min-width: 530px) {
            font-size: 1.125rem;
        }

        /* atMedium screens */
        @media (min-width: 800px) {
            font-size: 1.225rem;
        }

    }
    
}