.row {
    
    /* background-color: yellow; */

    &::after {
        content: "";
        clear: both;
        display: table;
    }

    &--gutters {
        margin-right: -65px;
    }

    /* to select all children use > symbol */
    &--gutters > div {
        padding-right: 65px;
    }
    /* when the screen is really small give it a bottom margin */
    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }
    
    /* medium screen */
    @media (min-width: 800px) {

        &__b-margin-until-medium {
            margin-bottom: 0;
        }

        &__medium-4 {
            float: left;
            width: 33.3%
        }

        &__medium-4--larger {
            width: 33%;
        }
    
        &__medium-8 {
            float: left;
            width: 66.6%;
        }

        &_medium-8--smaller {
            width: 63%;
        }
    }
}