.wrapper {
    /* background-color: teal; */
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;

    &--medium {
        max-width: 1200px;
    }

    &--narrow {
        max-width: 470px;
    }

    /* applied to inner wrapper elements */
    .wrapper {
        padding-left: 0%;
        padding-right: 0%;
    }

    &--no-padding-until-medium {
        padding-left: 0;
        padding-right: 0;

    @media (min-width: 800px) {
        padding-left: 18px;
        padding-right: 18px;
    }}

    &--no-padding-until-large {
        padding-left: 0;
        padding-right: 0;

    @media (min-width: 1010px) {
        padding-left: 18px;
        padding-right: 18px;
    }}

    img {
        
    }

    &--b-margin {
        margin-bottom: 1rem;
    }
    /* atSmall screens */
    @media (min-width: 530px) {
    &--b-margin {
        margin-bottom: 2rem;
    }}
    /* atMedium screens */
    @media (min-width: 800px) {
    &--b-margin {
        margin-bottom: 3.875rem;
    }}
}